
@model DalLibrary.EmployeeClass
@{
    ViewBag.Title = "UpdateEmployee";
}

<h2>UpdateEmp</h2>

@using (Html.BeginForm())
{
    <p>ID : @Html.TextBoxFor(m => m.Id)</p>
    <p>Name : @Html.TextBoxFor(m => m.Name)</p>
    <p>Dept : @Html.TextBoxFor(m => m.Dept)</p>

    <input type="submit" value="UPDATE" />
}